<div class="jumbotron">
  <div class="home-welcome">
    <div class="row">
      <div class=col-md-6>
        <h1>Seize the day.</h1>
        <p>Today is <%= Time.now.strftime("%A, %B %d, %Y (EDT)") %>. There are <%= Event.count %> events happening right now at Brandeis.</p>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_for(:user, url: '/users') do |f| %>
              <%= f.text_field :name, class: 'form-control', placeholder: 'Username' %>

              <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>

              <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>

              <%= f.submit "Sign up", class: "btn btn-primary" %>
            <% end %>

            <div id="sign-in">
              or
              <%= link_to "Sign in", "#login", "data-toggle" => "modal", "data-target" => "#sign-in-modal" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class="modal-title">Sign in</h2>
    </div>
    <div class="modal-body">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Username' %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
