

<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
      </h1>
    </section>
  </div>

  <div class="col-md-3"><h1>Your friends:</h1>
    <% if @user.friendships.length==0 %>
  <%= "You have yet to add any friends." %>
  <% end %>
<ul>
  <% @user.friendships.each do |friendship| %>
  <li><i><%= friendship['friend_name'] %></i></li>
<% end %></ul></div>

<div class="col-md-3"><h1>Your events:</h1>
  <% if @user.friendships.length==0 %>
  <%= "You have yet to sign up for any events." %>
  <% end %>
<ul><% @user.events.each do |event| %>
<li><%= link_to event['name'], "/events/"+event['id'].to_s %> (Click to see event details)</li>
<% end %></ul>
</div>


<div class="col-md-3">
 <%= form_tag("/friendships/add_new_friend", method: "post") do %>
<%= hidden_field_tag(:user_id, current_user.id) %>
  <%= label_tag(:friend_name, "Name of friend:") %>
<%= text_field_tag(:friend_name) %>
  <%= submit_tag("Add Friend") %>
<% end %>
</div>
</div>

<p>
  <strong>User name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @user.id %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Time</th>
      <th>Location</th>
      <th>Creator Name</th>
    </tr>
  </thead>

  <tbody>
    <% @user.events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.time_occurrence %></td>
        <td><%= event.location %></td>
        <td><%= User.find(event.creator_id).name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br><br>



