<% provide(:title, @user.name) %>

<div class="container profile-container">
  <div class="row">
    <div class="col-md-1">
      <%= gravatar_for @user %>
    </div>

    <div class="col-md-4 left-container">
      <h2><strong><%= @user.name %></strong></h2>
      <%= @user.email %>
      <br>
      Member since <strong><%= @user.created_at.strftime("%d %b. %Y") %></strong>
    </div>

    <div class="col-md-7 right-container">
      <strong>Friends</strong>
      (<%= @friendships.length %>)

      <% if current_user?(@user) %>
        <%= form_tag("/friendships/add_new_friend", method: "post", class: "form-inline", id: "add-form") do %>
          <div class="form-group">
            <div class="input-group">
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= text_field_tag :friend_name, nil, placeholder: "Add friend", class: "form-control" %>
              <span class="input-group-addon"><a id="add-link" href="#"><i class="fa fa-user-plus fa-fx"></i></a></span>
            </div>
          </div>
        <% end %>
      <% end %>

      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% @friendships.each do |f| %>
            <tr>
              <td><%= link_to f.friend_name, f.friend %></td>
              <td><small><%= link_to 'unfriend', f, method: :delete, data: { confirm: 'Are you sure?' } %></small></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>