<% provide(:title, @user.name) %>

<div class="container profile-container">
  <div class="row">
    <div class="col-md-1">
      <%= gravatar_for @user %>
    </div>

    <div class="col-md-7 left-container">
      <h2><strong><%= @user.name %></strong></h2>
      <strong>Email:</strong>
      <%= @user.email %>
      <br>
      <% if current_user?(@user) %>
        <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
    </div>

    <div class="col-md-4 right-container">
      <strong>Friends</strong>
      (<%= @friendships.length %>)

      <ul>
        <% @friendships.each do |f| %>
          <li>
          <%= link_to f.friend_name, f.friend %>
          |
          <small><%= link_to 'unfriend', f, method: :delete, data: { confirm: 'Are you sure?' } %></small>
          </li>
        <% end %>
      </ul>

      <% if current_user?(@user) %>
        <%= form_tag("/friendships/add_new_friend", method: "post", class: "form-inline", id: "add-form") do %>
          <div class="form-group">
            <div class="input-group">
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= text_field_tag :friend_name, nil, placeholder: "Add friend", class: "form-control" %>
              <span class="input-group-addon"><a id="add-link" href="#"><i class="fa fa-user-plus fa-fx"></i></a></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
