<% provide(:title, @user.name) %>

<div class="container profile-container">
  <div class="row">
    <div class="col-md-1">
      <%= gravatar_for @user %>
    </div>

    <div class="col-md-7 inner-container">
      <h2><strong><%= @user.name %></strong></h2>
      <strong>Email:</strong>
      <%= @user.email %>
      <br>
      <% if current_user?(@user) %>
        <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
    </div>

    <div class="col-md-4">
      <strong>Friends</strong>
      (<%= @friendships.length %>)

      <ul>
        <% @friendships.each do |f| %>
          <li>
          <%= link_to f.friend_name, f.friend %>
          |
          <small><%= link_to 'unfriend', f, method: :delete, data: { confirm: 'Are you sure?' } %></small>
          </li>
        <% end %>
      </ul>

      <%= form_tag("/friendships/add_new_friend", method: "post") do %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= text_field_tag :friend_name, nil, placeholder: "Enter friend name" %>
      <% end %>

    </div>
  </div>
</div>
