<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creator_id %><br>
    <%= f.number_field :creator_id %>
  </div>
  <div class="field">
    <%= f.label :event_name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "Time of Event" %><br>   
    	<!--2nd arg to radio button the value saved
    	make first arg variable? -->
    	<p hidden> <%= @date_today = DateTime.now %> </p>
    	<p hidden> <%= @date_tom = DateTime.new(@date_today.year, @date_today.month, (@date_today.day + 1), @date_today.hour, @date_today.min, @date_today.sec) %> </p>
    	<p hidden> <%= @nothing = Time.now %> </p>
    	<%= radio_button_tag(:event_day, DateTime.now, :checked => true) %> 
  		<%= label_tag(:choose_today, "Today, #{Date::MONTHNAMES[@date_today.month]} #{@date_today.day}") %>
  		<%= radio_button_tag(:event_day, @date_tom) %>
  		<%= label_tag(:choose_tomorrow, "Tomorrow, #{Date::MONTHNAMES[@date_tom.month]} #{@date_tom.day}") %>
    	<% puts "wooo #{params[:time_occurrence]}"%>
    	<%= time_select :usertime, :hourmin, {:ampm => true} %>
    	<!--<%= f.datetime_select :time_occurrence, ampm: true %>  Original line-->
    	
    	<!-- <%= f.radio_button :time_occurrence, DateTime.now, :checked => true %> 
  		<%= label :choose_today, "Today, #{Date::MONTHNAMES[@date_today.month]} #{@date_today.day}" %>
  		<%= f.radio_button :time_occurrence, @date_tom %>
  		<%= label :choose_tomorrow, "Tomorrow, #{Date::MONTHNAMES[@date_tom.month]} #{@date_tom.day}" %>
  		-->
    	
    	
    	<!--2nd Option-->
    	<!-- <%= select_hour(@date_today.hour) %> -->
    	
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <div class="field">
    <%= f.text_field :longitude %>
  </div>
  <div class="field">

    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.text_field :location %>
  </div>
  
  


<% end %>

