<style>
div#map_section {
	margin-left:  35%;
	padding: 4px ;

}
div#main_form {
	float: left;
	width: 35%;
	padding: 4px ;

}



div#radio1, div#radio2 {
	float: left;
	width: 15%;
	padding: 4px ;
  

}
div#label1, div#label2 {
	margin-left:  15%;
	padding: 4px ;

}

select#usertime_hourmin_4i{
	float: left;
	width: 20%;
	

}

select#usertime_hourmin_5i{
	width: 20%;
	

}

div#checkboxes {
	float: left;
	width: 15%;
	padding: 3px ;

}
div#checkboxes_labels {
	margin-left:  15%;
	padding: 3px ;
	
}


div#checkboxcol1 {
	float: left;
	width: 30%;

}
div#checkboxcol2 {
	float: left;
	width: 30%

}
div#checkboxcol3 {
	float: left;
	width: 30%

}



</style>




<%= form_for(@event) do |f| %>
<div id="main_form">
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_name %><br>
    <%= f.text_field :name %>
  </div>
  

  <div class="field">
  
    <%= f.label "Time of Event" %><br>   
    	<!--2nd arg to radio button the value saved
    	make first arg variable? -->
    	<p hidden> <%= @date_today = DateTime.now %> </p>
    	<p hidden> <%= @date_tom = DateTime.now+1 %> </p>
    	<p hidden> <%= @nothing = Time.now %> </p>
    	<div id="radio_buttons">
    		
    		<div id="radio1">
    			<%= radio_button_tag(:event_day, DateTime.now, :checked => true) %> 
    		</div>
    		<div id="label1">
    			<%= label_tag(:choose_today, "Today, #{Date::MONTHNAMES[@date_today.month]} #{@date_today.day}") %>
    		</div>
    	    	
    		<div id="radio2">	
    			<%= radio_button_tag(:event_day, @date_tom) %>
    		</div>
    		<div id="label2">
    			<%= label_tag(:choose_tomorrow, "Tomorrow, #{Date::MONTHNAMES[@date_tom.month]} #{@date_tom.day}") %>
			</div>    	
    	</div>
      <% if @event["time_occurrence"] != nil %>
    	<%= time_select :usertime, :hourmin, {:ampm => true, :minute_step => 5, :default => {:hour => (@event["time_occurrence"].hour+4).to_s, :minute => @event["time_occurrence"].min.to_s}} %>
      <% else %>
      <%= time_select :usertime, :hourmin, {:ampm => true, :minute_step => 5} %>
      <% end %>
    	<!--<%= f.datetime_select :time_occurrence, ampm: true %>  Original line-->
    	
    	<!-- <%= f.radio_button :time_occurrence, DateTime.now, :checked => true %> 
  		<%= label :choose_today, "Today, #{Date::MONTHNAMES[@date_today.month]} #{@date_today.day}" %>
  		<%= f.radio_button :time_occurrence, @date_tom %>
  		<%= label :choose_tomorrow, "Tomorrow, #{Date::MONTHNAMES[@date_tom.month]} #{@date_tom.day}" %>
  		-->
    	
    	
    	<!--2nd Option-->
    	<!-- <%= select_hour(@date_today.hour) %> -->    	
  </div>	
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  
  
  <div class="field">
  	
  	<label for="tag_ids_">Select up to 3 Tags</label><br>
  	<div id="all_checkboxes">
  	<% col = 1 %>
  	<% iter = 1 %>
  	
  	<% @tags.each do |tag| %>
  		
  		
  		<% if iter == 4 %>
  			<% col = 1 %>
  			<% iter = 1 %>
  		<% end %>
  		<% ckbox_id = "checkboxcol#{col}"%>
  		
  		<div id="<%= ckbox_id %>" >
  			<div id="checkboxes">
  	  			<%= check_box_tag 'tag_ids[]', tag.id %>
  	  		</div>
  	  		<div id="checkboxes_labels">
  	  			<%= h tag.name %>
  			</div>
  			
  		</div>
  		<% col += 1 %>
  		<% iter += 1 %>
  	<% end %>

  </div>
  </div>
  

</div>

<div id="map_section">
  <div id="map_canvas" style="width: 725px; height: 400px;"></div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<div hidden>
  <div class="field">
    <%= f.text_field :longitude %>
  </div>
  <div class="field">

    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.text_field :location %>
  </div>
</div>
  
    



<% end %>
