
   <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type='text/javascript'>
        //the following function causes page to refresh
        (function()
        {
          if( window.localStorage )
          {
            if( !localStorage.getItem( 'firstLoad' ) )
            {
              localStorage[ 'firstLoad' ] = true;
              window.location.reload();
            }  
            else
              localStorage.removeItem( 'firstLoad' );
          }
        })();
        window.onload = function() {
            var myOptions = {
                center: new google.maps.LatLng(42.3654347, -71.258595),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            gMap = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

       }
      
        function loadXMLDoc(type, arg)
        {
            var xmlhttp;
            if (window.XMLHttpRequest)
              {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
              }
            else
              {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
            xmlhttp.onreadystatechange=function()
              {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                }
              }
              xmlhttp.open("GET","/events/filter/"+type+"/"+arg+".json",true);
              xmlhttp.send();
          }
    </script>
<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Event name</th>
      <th>Time creation</th>
      <th>Time occurrence</th>
      <th>Location</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.creator_id %></td>
        <td><%= event.event_name %></td>
        
        <td><%= event.time_occurrence %></td>
        <td><%= event.location %></td>
        <td><%= event.longitude %></td>
        <td><%= event.latitude %></td>
        <td><%= event.description %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

   <div id="map_canvas" onload="loadMap()" style="width: 800px; height: 400px;"></div>


<br>
<button type="button" onclick="loadXMLDoc('location', 'Shapiro Campus Center')">Request events near Shapiro Campus Center</button>
<button type="button" onclick="loadXMLDoc('user', '1')">Request events created by user with id 1</button>

<div id="myDiv"></div>

 
<%= link_to 'New Event', new_event_path %>
<%= link_to 'Back', root_path %>
