<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Event name</th>
      <th>Time creation</th>
      <th>Time occurrence</th>
      <th>Location</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.creator_id %></td>
        <td><%= event.event_name %></td>
        <td><%= event.time_creation %></td>
        <td><%= event.time_occurrence %></td>
        <td><%= event.location %></td>
        <td><%= event.longitude %></td>
        <td><%= event.latitude %></td>
        <td><%= event.description %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

   <div id="map_canvas" style="width: 800px; height: 400px;"></div>


      <script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type='text/javascript'>
        $(function(){
            var myOptions = {
                center: new google.maps.LatLng(35.201867,-80.836029),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            gMap = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

            //var kmlLayer = new google.maps.KmlLayer('https://maps.google.com/maps/ms?ie=UTF8&t=m&authuser=0&msa=0&output=kml&msid=212043342089249462794.00048cfeb10fb9d85b995');
            //kmlLayer.setMap(gMap);
        });
    </script>
<br>

<%= link_to 'New Event', new_event_path %>
<%= link_to 'Back', root_path %>
