<script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type='text/javascript'>
        //the following function causes page to refresh
        (function()
        {
          if( window.localStorage )
          {
            if( !localStorage.getItem( 'firstLoad' ) )
            {
              localStorage[ 'firstLoad' ] = true;
              window.location.reload();
            }  
            else
              localStorage.removeItem( 'firstLoad' );
          }
        })();


        var gMap = null;
        var attendance_window = null;
        var desc_window = null;
        var markers = [];
        var me_window =  null; 


        function showPosition(position) {
           document.getElementById("myDiv").style.visibility = "hidden"
           document.getElementById("myDiv").innerHTML = position.coords.latitude + ", " + position.coords.longitude; 
           var loc = document.getElementById("myDiv").innerHTML.split(", ")
           var latitude = loc[0]
           var longitude = loc[1]
           markMe()
           loadXMLDoc("user")

        }

        function markMe()
        {

           var loc = document.getElementById("myDiv").innerHTML.split(", ")
           var latitude = loc[0]
           var longitude = loc[1]


            me_window = new google.maps.InfoWindow({
                content: "You are here",
                position: new google.maps.LatLng(latitude, longitude),
             });

            me_window.open(gMap);


        }


        function loadXMLDoc(type)
        {

            var xmlhttp;
            if (window.XMLHttpRequest)
              {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
              }
            else
              {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
            xmlhttp.onreadystatechange=function()
              {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {


                  //first clear old event markers and clear out table of events
                  for (var i = 0; i < markers.length; i++) {
                      markers[i].setMap(null);

                  }

                  //mark where the user is
                    markMe();

                    document.getElementById("navbar").innerHTML='<br> <table><tr><td>VIEW EVENTS BY:'+
                                      '<select onchange="loadXMLDoc(this.value)">' +
                                      '<option value="location">NEAR ME</option>' +
                                        '<option value="time">HAPPENING SOON</option>' +
                                        '<option value="user">CREATED BY ME</option>'+
                                    '</select> </td></tr>'             

                     //now show the filtered events
                    result = JSON.parse(xmlhttp.responseText);
                    length = result.length;
                    for (i=0; i<length; i++)
                    {
                         latitude=JSON.parse(xmlhttp.responseText)[i]["latitude"];
                         longitude=JSON.parse(xmlhttp.responseText)[i]["longitude"];
                        var event_name=JSON.parse(xmlhttp.responseText)[i]["event_name"];
                        var temp_latlng = new google.maps.LatLng(latitude, longitude);
 
                        marker = new google.maps.Marker({
                            position: temp_latlng,
                            map: gMap,
                            title: event_name
                        });

                        markers.push(marker)



                     document.getElementById("navbar").innerHTML += '<tr><td><span onclick="OpenWindow(&quot;' +
                          JSON.parse(xmlhttp.responseText)[i]["latitude"].toString() + '+' +
                          JSON.parse(xmlhttp.responseText)[i]["longitude"].toString() + '+' +
                          JSON.parse(xmlhttp.responseText)[i]["description"] + '&quot, &quot;desc&quot;)"' +
                        'style="cursor: pointer"><b><u><font color="blue">' +
                          JSON.parse(xmlhttp.responseText)[i]["name"] + '</b></u></font></span>' +
                        '</td><td><a href="/events/11">Show</a></td>' +
                        '<td><a href="/events/11/edit">Edit</a></td>' +
                        '<td><a data-confirm="Are you sure?" rel="nofollow"' +
                        'data-method="delete" href="/events/11">Destroy</a></td>' +
                       '<td> <input type="button" onclick="OpenWindow(&quot;concert&quot;, &quot;attendance&quot;)"'+
                       'value="Get Attendance!"/></td></tr></table>'


                    }    
                     
                }
              }
              xmlhttp.open("GET","/events/filter.json?type="+type+"&user=1&location="+document.getElementById("myDiv").innerHTML,true);
              xmlhttp.send();
          }

          function OpenWindow(event_info, type)
          {
            if (type=='attendance')
            {
                if (attendance_window != null)
                  { 
                    attendance_window.close()
                  }

                attendance_window = new google.maps.InfoWindow({
                    content: "EVENTUALLY THIS WILL LIST THE ATTENDANCE for the event "+event_info,
                    position: new google.maps.LatLng(42.3650, -71.258595) 
                    //this position is on the road just outside the entrace to brandeis

                 });
               attendance_window.open(gMap);
           }
           else
           {

              var info=event_info.split("+")
              var lat=Number(info[0])
              var lng=Number(info[1])
              var desc=info[2]
              if (desc_window != null)
              {
                desc_window.close()
              }

              desc_window = new google.maps.InfoWindow({
                    content: desc,
                    position: new google.maps.LatLng(lat, lng)
                 });
               desc_window.open(gMap);
           }
          }


        window.onload = function() {
            var myOptions = {
                center: new google.maps.LatLng(42.3654347, -71.258595),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            gMap = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition); 

            } else { 
                myDiv.innerHTML = "Geolocation is not supported by this browser.";
            }

             
       }

    </script>

<body><style>
#content {
  margin-left:  26%;
  padding: 4px ;

}
#navbar {
  float: left;
  width: 26%;
  padding: 4px ;

}
</style>
<div id="container">
  <div id="navbar">
    <br>
    <table><tr>VIEW EVENTS <select onchange="loadXMLDoc(this.value)">
  <option value="location">NEAR ME</option>
  <option value="time">HAPPENING SOON</option>
  <option value="user">CREATED BY ME</option>
</select></tr>
      <% @events.each do |event| %>

      <tr><td>

        <span onclick="OpenWindow('<%= event.latitude %>+<%= event.longitude %>+<%= event.description %>', 'desc')" style="cursor: pointer"><b><u><font color="blue">
    <%= event.name %></b></u></font></span>
  </td>
<td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <td>
    <input type="button" onclick="OpenWindow('<%= event.name %>', 'attendance')" value="Get Attendance!"/></td>
  </tr>
  <% end %>
</table>

  </div>
  
  <div id="content">   <div id="map_canvas" style="width: 800px; height: 400px"></div>

</div>
</div>
<input type="button" onclick="loadXMLDoc('user', '1')" value="Filter by user 1"/>
<div id="myDiv"></div>

 

<%= link_to 'New Event', new_event_path %>
<%= link_to 'Back', root_path %>
</body>
</html>
