<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#current">Created Events</a></li>
  <li><a data-toggle="tab" href="#expired">Expired Events</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="current">

    <% if @user.events.empty? %>
      You haven't signed up for any events.
      <br>
      Check out
      <%= link_to "current events", events_path %>
      happening right now at Brandeis.
    <% else %>
      <div class="table-responsive">
        <table class="table table-hover">
          <thread>
            <tr>
              <th>Name</th>
              <th>Creator</th>
              <th>Time</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thread>

          <tbody>
            <% @user.events.each do |e| %>
              <tr>
                <td><%= e.name %></td>
                <td><%= link_to e.user.name, e.user %></td>
                <td><%= e.time_occurrence.utc().to_formatted_s(:long) %></td>
                <td><%= e.description %></td>
                <td>
                  <% if current_user?(e.user) %>
                    <%= link_to 'Cancel event', e, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% else %>
                    <%= link_to 'I\'m not going.', e.attendances.find_by(user_id: current_user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="expired">
    <% if @expired_events.empty? %>
      No expired events.
    <% else %>
      <div class="table-responsive">
        <table class="table table-hover">
          <thread>
            <tr>
              <th>Name</th>
              <th>Creator</th>
              <th>Time</th>
              <th>Description</th>
            </tr>
          </thread>

          <tbody>
            <% @expired_events.each do |e| %>
              <tr>
                <td><%= e.name %></td>
                <td><%= link_to e.user.name, e.user %></td>
                <td><%= e.time_occurrence.utc().to_formatted_s(:long) %></td>
                <td><%= e.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
