<style>
div#map_canvas {
  margin-left:  35%;
  padding: 4px ;


}
div#main_form {
  float: left;
  width: 35%;
  padding: 4px ;

}



</style>


<div id="main_form">
<div align="center">

  
<p>

  <strong><%= @event.name %> @ <%= @event.time_occurrence.utc().to_formatted_s(:long) %> </strong>
</p>

<p>
  <strong>Created by:</strong>
  <%= link_to @event.user.name, @event.user %>
</p>

<p>
  <strong>
  <%= @event.description %>
</strong>
</p>

<p>
  <strong>Attendance:</strong>
  <% @attendees.each do |a| %>
    <%= link_to a.name, a %>
  <% end %>
</p>

<p>
	<strong>Tags:</strong>
	<%= @event_tags.join(", ") %>	
</p>

  <p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back to Campus Events', events_path %>
  </p>
  <br><br><br><br>
</div>
</div>

<%= content_tag :div, class: "location_class", data: {latitude: @event.latitude, longitude: @event.longitude, event_id: @event.name} do %>
<% end %>


<script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type='text/javascript'>
        //the following function causes page to refresh
        (function()
        {
          if( window.localStorage )
          {
            if( !localStorage.getItem( 'firstLoad' ) )
            {
              localStorage[ 'firstLoad' ] = true;
              window.location.reload()
            }  
            else
              localStorage.removeItem( 'firstLoad' );
          }
        })();


        var gMap = null;
        var attendance_window = null;
        var desc_window = null;
        var markers = [];
        var me_window =  null; 
        var loc = null;
        var windows = [];
        var tag = null;
        var attendances = []


        
        window.onload = function(){
            var latitude = $('.location_class').data('latitude')
            var longitude = $('.location_class').data('longitude')
            var event_name = $('.location_class').data('event_name')
            var myOptions = {
            	
                center: new google.maps.LatLng(latitude, longitude),
                
                        
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            gMap = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
			      markEvents(latitude, longitude, event_name);
             if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success, error);

            } else {
                error();
            }

            
            
       }

       function hide_and_seek_menus()
       {
          var ULs = document.getElementsByClassName("menu");
          for (var i=0; i<ULs.length; i++)
          {
            if (ULs[i].style.visibility == "hidden")
            {
                ULs[i].style.visibility = "visible";
            }
            else
            {
                ULs[i].style.visibility = "hidden";
            }

          }
       }


        function success(position) {
           document.getElementById("locationDiv").innerHTML = position.coords.latitude + ", " + position.coords.longitude; 
           loc = document.getElementById("locationDiv").innerHTML.split(", ")
           tag = ""
           var latitude = loc[0]
           var longitude = loc[1]
           markMe(latitude, longitude)

         }
         function error()
         {
            document.getElementById("locationDiv").innerHTML = "error"
            loc = "error"

            //user needs to be able to click on map
            google.maps.event.addListener(gMap, 'click', function(event) {
                var lat = event.latLng.lat()
                var lng = event.latLng.lng()
                loc = lat.toString() + ", " + lng.toString()
            });
         }

        function markMe(latitude, longitude)
        {
            var temp_latlng = new google.maps.LatLng(latitude, longitude);
            me_marker = new google.maps.Marker({
                position: temp_latlng,
                map: gMap,
                title: "You are here!",
                icon: "<%= asset_path( 'TrackingDot.png' ) %>"
            });
        }

        function markEvents(latitude, longitude, event_name)
        {
              var temp_latlng = new google.maps.LatLng(latitude, longitude);
              marker = new google.maps.Marker({
                  position: temp_latlng,
                  map: gMap,
                  title: event_name
              });

              markers.push(marker) 
        }

    </script>
<div id="locationDiv" style="visibility:hidden"></div>


  		<div id="map_canvas" style="width: 400px; height: 400px;"></div>
</div>
