<div class="container">
  <div class="row">
    <div class="col-md-5 text-center event-container" id="text">
      <strong><h2><%= @event.name %> @ <%= @event.time_occurrence.strftime("%I:%M %p %C %B %G") %></h2></strong>

      <p>
        <strong>Created by:</strong>
        <%= link_to @event.user.name, @event.user %>
      </p>

      <p>
        <strong>Attendance:</strong>
        <% @attendees.each do |a| %>
          <%= link_to a.name, a %>
        <% end %>
      </p>

      <p>
        <strong>Decription:</strong>
        <%= @event.description %>
      </p>

      <p>
        <strong>Tags:</strong>
        <i class="fa fa-tag"></i><%= @event_tags.first %>
        <% @event_tags.drop(1).each do |t| %>
          ,<i class="fa fa-tag"></i><%= t %>
        <% end %>
      </p>

      <%= link_to(edit_event_path(@event)) do %>
        <button type="button" class="btn btn-info">Edit</button>
      <% end %>
      <%= link_to(events_path) do %>
        <button type="button" class="btn btn-success">Back</button>
      <% end %>
    </div>
    <div class="col-md-7">
      <div id="map_canvas" style="width: 600px; height: 400px;"></div>
    </div>
  </div>
</div>

<%= content_tag :div, class: "location_class", data: {latitude: @event.latitude, longitude: @event.longitude, event_id: @event.name} do %>
<% end %>

<script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type='text/javascript'>
        //the following function causes page to refresh
        (function()
        {
          if( window.localStorage )
          {
            if( !localStorage.getItem( 'firstLoad' ) )
            {
              localStorage[ 'firstLoad' ] = true;
              window.location.reload()
            }
            else
              localStorage.removeItem( 'firstLoad' );
          }
        })();


        var gMap = null;
        var attendance_window = null;
        var desc_window = null;
        var markers = [];
        var me_window =  null;
        var loc = null;
        var windows = [];
        var tag = null;
        var attendances = []



        window.onload = function(){
            var latitude = $('.location_class').data('latitude')
            var longitude = $('.location_class').data('longitude')
            var event_name = $('.location_class').data('event_name')
            var myOptions = {

                center: new google.maps.LatLng(latitude, longitude),


                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            gMap = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
			      markEvents(latitude, longitude, event_name);
             if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success, error);

            } else {
                error();
            }



       }

       function hide_and_seek_menus()
       {
          var ULs = document.getElementsByClassName("menu");
          for (var i=0; i<ULs.length; i++)
          {
            if (ULs[i].style.visibility == "hidden")
            {
                ULs[i].style.visibility = "visible";
            }
            else
            {
                ULs[i].style.visibility = "hidden";
            }

          }
       }


        function success(position) {
           document.getElementById("locationDiv").innerHTML = position.coords.latitude + ", " + position.coords.longitude;
           loc = document.getElementById("locationDiv").innerHTML.split(", ")
           tag = ""
           var latitude = loc[0]
           var longitude = loc[1]
           markMe(latitude, longitude)

         }
         function error()
         {
            document.getElementById("locationDiv").innerHTML = "error"
            loc = "error"

            //user needs to be able to click on map
            google.maps.event.addListener(gMap, 'click', function(event) {
                var lat = event.latLng.lat()
                var lng = event.latLng.lng()
                loc = lat.toString() + ", " + lng.toString()
            });
         }

        function markMe(latitude, longitude)
        {
            var temp_latlng = new google.maps.LatLng(latitude, longitude);
            me_marker = new google.maps.Marker({
                position: temp_latlng,
                map: gMap,
                title: "You are here!",
                icon: "<%= asset_path( 'TrackingDot.png' ) %>"
            });
        }

        function markEvents(latitude, longitude, event_name)
        {
              var temp_latlng = new google.maps.LatLng(latitude, longitude);
              marker = new google.maps.Marker({
                  position: temp_latlng,
                  map: gMap,
                  title: event_name
              });

              markers.push(marker)
        }

    </script>
<div id="locationDiv" style="visibility:hidden"></div>
