
<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @creator %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Time occurrence:</strong>
  <%= @event.time_occurrence.utc().to_formatted_s(:long) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @attendees %>
</p>

<p>
	<strong>Tags (Table Lookup):</strong>
	<% if @event_tags.nil? %>
		None	
	<% else %>
		<% puts @event_tags.column_names %>
		<% eventtag_array = []%>
		<% @event_tags.each do |tag| %>
			<% eventtag_array.push(tag.tag_name)%>
			 		
		<% end %>
		<%= eventtag_array.join(", ")%>
	<% end %>	
</p>

<p>
	<strong>Tags (Event Field):</strong>
	<% tags_array = @event.tags.split(",") %>
	<% name_array = [] %>
	<% tags_array.each { |tag_id| name_array.push(Tag.find(tag_id).name) } %>
	<%= name_array.join(", ") %>	
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
